/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
body {
    background-image: url('/Content/Images/Ilovemusic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-color: #aaa;
}

.dl-horizontal dt {
    white-space: normal;
}

.center-content {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

.caret {
    border-top: 4px solid #fff;
}
.playlist{
    font-size:16pt;
    font-family: 'Shadows Into Light', cursive;
}